.grid-container {
  display: grid;
  /*grid-template-columns: ;*/
  grid-gap: 10px;
  background-color: #778088;
  padding: 2px;
  max-width: 550px;
  margin: auto;
  
}

.isCl {
  background-color: #000000;
  height: 40px;
  width: 40px;
}

.grid-container > div {
  border: 1px solid black;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

.logo {
  height: 80px;
  width: 80px;
  background-color: #ffffff;

 
}
.logo-image {
  margin: auto;
    width: 100%;
    height: 100%;
}

.cl {
  height: 40px;
  width: 40px;
  background-color: #ffffff;

}

.years {
  height: 80px;
  width: 40px;
  text-align: center;
  background-color: #ffffff;

  
}

.models {
  text-align: center;
  background-color: #ffffff;

}

.years-text {
  -webkit-transform: rotate(90deg);

}
